# Ignore everything
*

# But not these files...
!.gitignore
!Y - Codes/*.R
!Y - Codes/*/*.R
!*.R

# ...even if they are in subdirectories
!*/
!*/*/
!*/*/*/

# but not the COMPADRE codes by Rob
*/*/DeriveDemographics-functions.R
*/*/cdb_newToOldFormat.R
*/*/derive_demographics.r



.Rproj.user